# -e git://github.com/GeoNode/geonode.git@master#egg=geonode
five==0.4.0
#geonode==2.6a1
csvkit==0.9.1
pinax-theme-bootstrap-account==1.0b2

# For gazetteer.
-e git+https://github.com/cga-harvard/geopy.git#egg=geopy
geojson
dicttoxml==1.6.6
datautil

# --------------------------------------------------
# For the Dataverse/Geoconnect/WorldMap connection
# --------------------------------------------------
-e git://github.com/cga-harvard/shared-dataverse-information.git#egg=shared_dataverse_information

